@font-face {
  font-family: 'SF Pro Text';
  src: url(./assets/fonts/SF-Pro-Text-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Text';
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #000000;
}
